{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "mocha": true,
    "jest": true
  },
  "extends": ["plugin:@typescript-eslint/recommended"],
  "rules": {
    "indent": ["error", 4],
    "max-len": ["error", { "code": 120 }],
    "no-plusplus": "off",
    "linebreak-style": ["error", "unix"],
    "no-underscore-dangle": 0,
    "array-callback-return": 0,
    "quotes": ["error", "single"]
  }
}
